<div class="div-container py-content">
  <button (click)="moveTo('employee')">
    <div class="h-100 d-flex flex-column justify-content-around align-items-center">
      <div class="img-holder">
        <img src="assets/employee.png" alt="">
      </div>

      <div class="text-hoder">
        <div class="title">
          Employee
        </div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
  </button>
</div>